.frame-child {
  position: absolute;
  top: 215.62px;
  left: 447px;
  background-color: var(--pimary-colour);
  width: 993px;
  height: 354.3px;
}
.frame-item {
  position: absolute;
  top: 0;
  left: 1011.01px;
  width: 367px;
  height: 371.51px;
}
.jessica-radanavong-ichpbhfd0pw-icon {
  position: absolute;
  top: 4.05px;
  left: 899px;
  width: 432px;
  height: 654.95px;
  object-fit: cover;
}
.frame-inner {
  position: absolute;
  top: 215.62px;
  left: 447px;
  background-color: var(--pimary-colour);
  width: 993px;
  height: 354.3px;
  opacity: 0.2;
}
.star-icon {
  position: absolute;
  top: 491.97px;
  left: 944px;
  width: 64px;
  height: 89.08px;
}
.div1,
.oregon-jacket {
  position: absolute;
  left: 1300px;
  font-size: var(--body-text-14-size);
  font-family: var(--body-text-14);
  color: var(--color-gray-200);
  display: inline-block;
  height: 16.2px;
}
.oregon-jacket {
  top: 485.9px;
  text-transform: uppercase;
  width: 117px;
}
.div1 {
  top: 505.13px;
  width: 31px;
}
.frame-child1 {
  position: absolute;
  top: 536.01px;
  left: -0.5px;
  border-top: 1px solid var(--grey-scale-000);
  box-sizing: border-box;
  width: 977px;
  height: 1px;
}
.productsdiv {
  position: absolute;
  top: 652px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 779px;
}
.zam-nungaray-acw3b7q6ys0-unspl-icon {
  position: absolute;
  top: 831px;
  left: 659px;
  width: 304px;
  height: 322px;
  object-fit: cover;
}
.philipp-arlt-8eyb-rvawty-unspl-icon,
.philipp-arlt-nmh9a0obon8-unspl-icon {
  position: absolute;
  top: 831px;
  left: 1320px;
  width: 304px;
  height: 322px;
  object-fit: cover;
}
.philipp-arlt-8eyb-rvawty-unspl-icon {
  left: 323px;
  width: 310px;
}
.lorem-ipsum-dolor3 {
  margin: 0;
  position: absolute;
  top: 693px;
  left: 60px;
  font-size: var(--h2-title-size);
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 689px;
  height: 151px;
}
.accessories,
.apparel {
  position: absolute;
  left: 68px;
}
.apparel {
  top: 832px;
  font-size: var(--font-size-lg);
  font-family: var(--body-text-14);
}
.accessories {
  margin: 0;
  top: 876px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.best-sellers,
.off {
  position: absolute;
  top: 927px;
  left: 68px;
  font-size: var(--font-size-lg);
  font-family: var(--body-text-14);
}
.off {
  top: 971px;
}
.frame-child2 {
  position: absolute;
  top: 787px;
  left: 44px;
  width: 659px;
  height: 22px;
}
.arrow-icon,
.frame-child3,
.instance-child {
  position: absolute;
  top: 755.11px;
  left: 1257.5px;
  width: 55.5px;
  height: 5.77px;
}
.frame-child3,
.instance-child {
  left: 1155px;
}
.instance-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
}
.vector-icon9 {
  position: absolute;
  height: 33.33%;
  width: 33.33%;
  top: 33.33%;
  right: 35.56%;
  bottom: 33.33%;
  left: 31.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-group,
.secondary-button1,
.secondary-button2 {
  position: absolute;
  top: 1108px;
  left: 588px;
  width: 45px;
  height: 45px;
}
.secondary-button1,
.secondary-button2 {
  left: 918px;
}
.secondary-button2 {
  left: 1249px;
}
.malicki-m-beser-pkmvkg7vnuo-un-icon {
  position: absolute;
  top: 831px;
  left: 989px;
  width: 305px;
  height: 322px;
  object-fit: cover;
}
.florida-jacket1 {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  width: 258px;
  height: 30px;
}
.div2,
.florida-jacket1,
.suffered-alteration-in1 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.suffered-alteration-in1 {
  font-size: var(--body-text-14-size);
  font-family: var(--body-text-14);
  color: var(--greyscale-400);
  width: 303px;
  height: 49px;
}
.div2 {
  font-weight: 600;
  width: 258px;
  height: 30px;
}
.florida-jacket-group,
.text-field1,
.text-field2,
.text-field3,
.text-field4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.florida-jacket-group {
  width: 310px;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.text-field1,
.text-field2,
.text-field3,
.text-field4 {
  position: absolute;
  top: 1165px;
  left: 323px;
}
.text-field2,
.text-field3,
.text-field4 {
  left: 659px;
}
.text-field3,
.text-field4 {
  left: 989px;
}
.text-field4 {
  left: 1320px;
}
.rectangle2 {
  position: absolute;
  top: 940px;
  left: 1321px;
  background-color: var(--color-gainsboro);
  width: 100px;
  height: 100px;
}
.rectangle-parent {
  position: absolute;
  top: 129px;
  left: 0;
  width: 100%;
  height: 659px;
  text-align: left;
  font-size: var(--subtitles-size);
  color: var(--grey-scale-1000);
  font-family: var(--h1-title);
}
